<h1>About</h1>

<div class='well'>
  <p>
    Solutio | Cloud of Solutions is a database, social network and open inovation platform
    dedicated to show, share, improve and make possible the replication of social and aproprietade
    techniques, methods, tools and good practices built for the Common Good.
  </p>

  <p>
    Since there's no actual tool or platform that mix all the qualities above, Solutio is dedicated
    to find and share solutions to improve the wellbeing and the quality of life of citizens all over the world.
    We can achieve this by making knowledge about practical issues of day by day life available to all,
    freely and in an open source environment, where solutions of all kind became forever open.
  </p>
</div>

<div class='row icons'>
  <p class='col-md-4'><span class='glyphicon glyphicon-search'></span>Find solutions</p>
  <p class='col-md-4'><span class='glyphicon glyphicon-send'></span>Share, develop and improve</p>
  <p class='col-md-4'><span class='glyphicon glyphicon-wrench'></span>Replicate and build together</p>
</div>

<h3>Solutio can be used as three different things:</h3>

<ul>
  <li>A place to find interest and useful solutions to improve personal and collective problems, proned to a more humane, convivial, equanimous and sustainable world.</li>
  <li>A place to share, develop and improve collectively this solutions, sharing new adaptations made by the community over previous solutions.</li>
  <li>A social network where people that want to build a better world for everyone and not only from themselves can join and share their solutions to build this "other possible world".</li>
</ul>
