<div class="jumbotron row">
  <div class="col-md-6">
    <h1>Your idea, our solutions</h1>

    <p>
      Connect with people <br>
      with same ideas as you.
    </p>

    <p>
      Make the difference, start now.
    </p>

    <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  </div>

  <div class="col-md-6">
    <iframe src="//player.vimeo.com/video/73585798?title=0&amp;byline=0&amp;portrait=0" width="495" height="371" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
