<ul class="nav nav-tabs">
  <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
  <li><a href="#steps" data-toggle="tab">Steps</a></li>
  <li><a href="#tips" data-toggle="tab">Tips</a></li>
</ul>

<%= simple_form_for @solution, html: { multipart: true } do |f| %>
  <div class="tab-content">
    <div class="tab-pane active" id="basic">
      <%= render 'basic', f: f %>
    </div>

    <div class="tab-pane" id="steps">
      <%= render 'steps' %>
    </div>

    <div class="tab-pane" id="tips">
      <%= render 'tips', f: f %>
    </div>
  </div>
<% end %>
